.DS_Store
zen/config/deploy_config.rb
zen/config/database.yml
zen/doc/coverage
zen/log/
zen/public/images/ext/*_pv.png
zen/public/images/ext/*_std.png
zen/public/images/ext/*_tiny.png
zen/public/images/ext/*_mini.png
zen/REVISION
zen/sites/*
zen/test/fixtures/*.yml
zen/tmp/*